# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
.venv/

# Logs and data
*.csv
/data/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml